<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org>">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<title>Vehicle Directory</title>
</head>

<body>
<div class="container">

	<h3 class="mx-auto" style="width: 200px;">Vehicle Directory</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/vehicles/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Vehicle
	</a>
	
	<table class="table table-boardered table-striped table-hover">
		<thead class="thead-dark">
			<tr>
				<th>Model Year</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Horsepower</th>
				<th>Avg MPG</th>
				<th>MSRP</th>
				<th class="col-sm-8">Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempVehicle : ${vehicles}">
				<td th:text="${tempVehicle.modelYear}"/>
				<td th:text="${tempVehicle.brand}"/>
				<td th:text="${tempVehicle.modelName}"/>
				<td th:text="${#numbers.formatDecimal(tempVehicle.horsePower, 0, 'DEFAULT', 0, 'DEFAULT')}"/>
				<td th:text="${tempVehicle.avgMpg}"/>
				<td th:text="${#numbers.formatCurrency(tempVehicle.msrp)}"/>
				<!-- Add update button -->
				<td>
					<a th:href="@{/vehicles/showFormForUpdate(vehicleId=${tempVehicle.id})}"
						class="btn btn-info btn-sm mb-1">
						Update
					</a>
				<!-- Add delete button -->
					<a th:href="@{/vehicles/delete(vehicleId=${tempVehicle.id})}"
						class="btn btn-danger btn-sm mb-1"
						onclick="if (!(confirm('Are you sure you want to delete this vehicle?'))) return false">
						Delete
					</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>
</body>
</html>