<!DOCTYPE HTML>
<html lang="en" xml:th="http://www.thymeleaf.org>"

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<title>Vehicle Directory</title>
</head>

<body>
<div class="container">

	<h3>Vehicle Directory</h3>
	<hr>
	
	<table class="table table-boardered table-striped table-hover">
		<thead class="thead-dark">
			<tr>
				<th>MY</th>
				<th>Brand</th>
				<th>Model</th>
				<th>HorsePower</th>
				<th>Avg MPG</th>
				<th>MSRP</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempVehicle : ${vehicles}">
				<td th:text="${tempVehicle.modelYear}"/>
				<td th:text="${tempVehicle.brand}"/>
				<td th:text="${tempVehicle.modelName}"/>
				<td th:text="${tempVehicle.horsePower}"/>
				<td th:text="${tempVehicle.avgMpg}"/>
				<td th:text="${#numbers.formatDecimal(tempVehicle.msrp, 0, 'COMMA', 0, 'POINT')}"/>
			</tr>
		</tbody>
	</table>

</div>
</body>
</html>